# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.q
!*.yaml
!.gitignore
!*.md
!gitupdate.sh
!.travis.yml
!python_scripts/*.py

# included folders
!automation
!sensors
!scripts
!python_scripts
!www/
!www/**
!lovelace

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
